<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Your Inbox</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            color: #333;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            text-align: center;
            padding: 20px;
            border-radius: 5px;
            width: min(480px, 100%);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            background-color: #fff;
        }

        h1 {
            margin-bottom: 10px;
            color: #64ffa2;
        }

        p {
            margin-bottom: 20px;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Success</h1>
        <p>Please Check Your Inbox.</p>
        <a href="<%= link%>" target="_blank">Or Click Here</a>
        <br>
        <small>(This will be removed later)</small>
        <br>
        <br>
        <a href="/">Go to Home</a>
    </div>
</body>
</html>
