<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Medical Insurance Reimbursment Claim Form | Liva Insurance</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@4.1.7/dist/signature_pad.umd.min.js"></script>
    <link rel="stylesheet" href="/gmir.css">
</head>

<body>
    <main>
        <br>
        <article>
            <section style="position: relative; width: fit-content; margin: auto;">
                <canvas id="pdf-canvas" style="position: relative;" data-pdf="/lmir.pdf"></canvas>
                <form id="overlay" method="post" enctype="multipart/form-data">
                    <div id="member_id"
                        style="left: calc(var(--scale) *321px); top: calc(var(--scale) *186px); width: calc(var(--scale) *516px); height: calc(var(--scale) *25px);"
                        class="abs">
                        <input type="text" name="member_id" required min="16" max="16">
                    </div>
                    <div id="staff_id" class="abs"
                        style="left: calc(var(--scale) *924px); top: calc(var(--scale) *185px); width: calc(var(--scale) *185px); height: calc(var(--scale) *25px);">
                        <input type="text" name="staff_id" required>
                    </div>
                    <div id="employer_name" class="abs"
                        style="left: calc(var(--scale) *230px);top: calc(var(--scale) *237px);width: calc(var(--scale) *452px);height: calc(var(--scale) *26px);">
                        <input type="text" name="employer_name" required>
                    </div>
                    <div id="policy_no" class="abs"
                        style="left: calc(var(--scale) *764px);top: calc(var(--scale) *238px);width: calc(var(--scale) *344px);height: calc(var(--scale) *26px);">
                        <input type="text" name="policy_no" required>
                    </div>
                    <div id="employee_name" class="abs"
                        style="left: calc(var(--scale) *230px);top: calc(var(--scale) *286px);width: calc(var(--scale) *451px);height: calc(var(--scale) *25px);">
                        <input type="text" name="employee_name" required>
                    </div>
                    <div id="ref_no" class="abs"
                        style="left: calc(var(--scale) *901px);top: calc(var(--scale) *286px);width: calc(var(--scale) *210px);height: calc(var(--scale) *27px);">
                        <input type="text" name="ref_no" required>
                    </div>
                    <div id="patient_name" class="abs"
                        style="left: calc(var(--scale) *230px);top: calc(var(--scale) *338px);width: calc(var(--scale) *452px);height: calc(var(--scale) *26px);">
                        <input type="text" name="patient_name" required>
                    </div>
                    <div id="relationship" class="abs"
                        style="left: calc(var(--scale) *865px);top: calc(var(--scale) *338px);width: calc(var(--scale) *245px);height: calc(var(--scale) *26px);">
                        <input type="text" name="relationship" required>
                    </div>
                    <div id="email" class="abs"
                        style="left: calc(var(--scale) *230px);top: calc(var(--scale) *388px);width: calc(var(--scale) *452px);height: calc(var(--scale) *26px);">
                        <input type="email" name="email" required>
                    </div>
                    <div id="gsm" class="abs"
                        style="left: calc(var(--scale) *792px);top: calc(var(--scale) *388px);width: calc(var(--scale) *318px);height: calc(var(--scale) *26px);">
                        <input type="tel" name="gsm" required>
                    </div>
                    <div id="date_from" class="abs"
                        style="left: calc(var(--scale) *272px);top: calc(var(--scale) *437px);width: calc(var(--scale) *149px);height: calc(var(--scale) *25px);">
                        <input type="date" name="date_from" required>
                    </div>
                    <div id="date_to" class="abs"
                        style="left: calc(var(--scale) *462px);top: calc(var(--scale) *437px);width: calc(var(--scale) *149px);height: calc(var(--scale) *25px);">
                        <input type="date" name="date_to" required>
                    </div>
                    <div id="treatment_country" class="abs"
                        style="left: calc(var(--scale) *814px);top: calc(var(--scale) *437px);width: calc(var(--scale) *295px);height: calc(var(--scale) *27px);">
                        <select name="treatment_country" onchange="selectCurrency(this)">
                            <option value="">Select</option>
                            <% for(let i=0; i<currencies.length; i++) { %>
                                <option value="<%= `${currencies[i].currency_code}#${currencies[i].country}`%>">
                                    <%= currencies[i].country %>
                                </option>
                            <% } %>
                        </select>
                    </div>
                    <div id="hospital_name" class="abs"
                        style="left: calc(var(--scale) *480px);top: calc(var(--scale) *481px);width: calc(var(--scale) *364px);height: calc(var(--scale) *25px);">
                        <input type="text" name="hospital_name" required>
                    </div>
                    <div id="diagnosis" class="abs"
                        style="left: calc(var(--scale) *85px);top: calc(var(--scale) *547px);width: calc(var(--scale) *1025px);height: calc(var(--scale) *56px);">
                        <textarea name="diagnosis" required maxlength="390"></textarea>
                    </div>

                    <div id="currency" class="abs"
                        style="left: calc(var(--scale) *872px);top: calc(var(--scale) *667px);width: calc(var(--scale) *50px);height: calc(var(--scale) *15px);">
                        <input type="text" name="currency" required>
                    </div>
                    <div id="fr_cf" class="abs money"
                        style="left: calc(var(--scale) *791px);top: calc(var(--scale) *688px);width: calc(var(--scale) *174px);height: calc(var(--scale) *34px);">
                        <input type="number" name="fr_cf" placeholder="0" min="0">
                    </div>
                    <div id="omr_cf" class="abs money"
                        style="left: calc(var(--scale) *965px);top: calc(var(--scale) *688px);width: calc(var(--scale) *144px);height: calc(var(--scale) *34px);">
                        <input type="number" name="omr_cf" placeholder="0" min="0">
                    </div>
                    <div id="fr_cec" class="abs money"
                        style="left: calc(var(--scale) *791px);top: calc(var(--scale) *723px);width: calc(var(--scale) *174px);height: calc(var(--scale) *34px);">
                        <input type="number" name="fr_cec" placeholder="0" min="0">
                    </div>
                    <div id="omr_cec" class="abs money"
                        style="left: calc(var(--scale) *965px);top: calc(var(--scale) *723px);width: calc(var(--scale) *144px);height: calc(var(--scale) *34px);">
                        <input type="number" name="omr_cec" placeholder="0" min="0">
                    </div>
                    <div id="fr_mc" class="abs money"
                        style="left: calc(var(--scale) *791px);top: calc(var(--scale) *758px);width: calc(var(--scale) *174px);height: calc(var(--scale) *34px);">
                        <input type="number" name="fr_mc" placeholder="0" min="0">
                    </div>
                    <div id="omr_mc" class="abs money"
                        style="left: calc(var(--scale) *965px);top: calc(var(--scale) *758px);width: calc(var(--scale) *144px);height: calc(var(--scale) *34px);">
                        <input type="number" name="omr_mc" placeholder="0" min="0">
                    </div>
                    <div id="fr_tc" class="abs money"
                        style="left: calc(var(--scale) *791px);top: calc(var(--scale) *793px);width: calc(var(--scale) *174px);height: calc(var(--scale) *32px);">
                        <input type="number" name="fr_tc" placeholder="0" min="0">
                    </div>
                    <div id="omr_tc" class="abs money"
                        style="left: calc(var(--scale) *965px);top: calc(var(--scale) *793px);width: calc(var(--scale) *144px);height: calc(var(--scale) *32px);">
                        <input type="number" name="omr_tc" placeholder="0" min="0">
                    </div>
                    <div id="fr_cos" class="abs money"
                        style="left: calc(var(--scale) *791px);top: calc(var(--scale) *826px);width: calc(var(--scale) *174px);height: calc(var(--scale) *20px);">
                        <input type="number" name="fr_cos" placeholder="0" min="0">
                    </div>
                    <div id="omr_cos" class="abs money"
                        style="left: calc(var(--scale) *965px);top: calc(var(--scale) *826px);width: calc(var(--scale) *144px);height: calc(var(--scale) *20px);">
                        <input type="number" name="omr_cos" placeholder="0" min="0">
                    </div>
                    <div id="fr_hrr" class="abs money"
                        style="left: calc(var(--scale) *791px);top: calc(var(--scale) *848px);width: calc(var(--scale) *174px);height: calc(var(--scale) *20px);">
                        <input type="number" name="fr_hrr" placeholder="0" min="0">
                    </div>
                    <div id="omr_hrr" class="abs money"
                        style="left: calc(var(--scale) *965px);top: calc(var(--scale) *848px);width: calc(var(--scale) *144px);height: calc(var(--scale) *20px);">
                        <input type="number" name="omr_hrr" placeholder="0" min="0">
                    </div>
                    <div id="no_of_days" class="abs"
                        style="left: calc(var(--scale) *248px);top: calc(var(--scale) *868px);width: calc(var(--scale) *60px);height: calc(var(--scale) *15px);">
                        <input type="number" name="no_of_days" placeholder="0" value="0" required>
                    </div>
                    <div id="rate" class="abs"
                        style="left: calc(var(--scale) *444px);top: calc(var(--scale) *868px);width: calc(var(--scale) *70px);height: calc(var(--scale) *15px);">
                        <input type="number" name="rate" placeholder="0" value="0" required>
                    </div>
                    <div id="fr_sf" class="abs money"
                        style="left: calc(var(--scale) *791px);top: calc(var(--scale) *885px);width: calc(var(--scale) *174px);height: calc(var(--scale) *20px);">
                        <input type="number" name="fr_sf" placeholder="0" min="0">
                    </div>
                    <div id="omr_sf" class="abs money"
                        style="left: calc(var(--scale) *965px);top: calc(var(--scale) *885px);width: calc(var(--scale) *144px);height: calc(var(--scale) *20px);">
                        <input type="number" name="omr_sf" placeholder="0" min="0">
                    </div>
                    <div id="fr_cos_otr" class="abs money"
                        style="left: calc(var(--scale) *791px);top: calc(var(--scale) *906px);width: calc(var(--scale) *174px);height: calc(var(--scale) *20px);">
                        <input type="number" name="fr_cos_otr" placeholder="0" min="0">
                    </div>
                    <div id="omr_cos_otr" class="abs money"
                        style="left: calc(var(--scale) *965px);top: calc(var(--scale) *906px);width: calc(var(--scale) *144px);height: calc(var(--scale) *20px);">
                        <input type="number" name="omr_cos_otr" placeholder="0" min="0">
                    </div>
                    <div id="fr_otr" class="abs money"
                        style="left: calc(var(--scale) *791px);top: calc(var(--scale) *926px);width: calc(var(--scale) *174px);height: calc(var(--scale) *28px);">
                        <input type="number" name="fr_otr" placeholder="0" min="0">
                    </div>
                    <div id="omr_otr" class="abs money"
                        style="left: calc(var(--scale) *965px);top: calc(var(--scale) *926px);width: calc(var(--scale) *144px);height: calc(var(--scale) *28px);">
                        <input type="number" name="omr_otr" placeholder="0" min="0">
                    </div>
                    <div id="fr_ta" class="abs money"
                        style="left: calc(var(--scale) *791px);top: calc(var(--scale) *954px);width: calc(var(--scale) *174px);height: calc(var(--scale) *28px);">
                        <input type="number" name="fr_ta" placeholder="0" min="0">
                    </div>
                    <div id="omr_ta" class="abs money"
                        style="left: calc(var(--scale) *965px);top: calc(var(--scale) *954px);width: calc(var(--scale) *144px);height: calc(var(--scale) *28px);">
                        <input type="number" name="omr_ta" placeholder="0" min="0">
                    </div>
                    <div id="fr_ded" class="abs money"
                        style="left: calc(var(--scale) *791px);top: calc(var(--scale) *982px);width: calc(var(--scale) *174px);height: calc(var(--scale) *25px);">
                        <input type="number" name="fr_ded" placeholder="0" min="0">
                    </div>
                    <div id="omr_ded" class="abs money"
                        style="left: calc(var(--scale) *965px);top: calc(var(--scale) *982px);width: calc(var(--scale) *144px);height: calc(var(--scale) *25px);">
                        <input type="number" name="omr_ded" placeholder="0" min="0">
                    </div>
                    <div id="fr_bd" class="abs money"
                        style="left: calc(var(--scale) *791px);top: calc(var(--scale) *1009px);width: calc(var(--scale) *174px);height: calc(var(--scale) *23px);">
                        <input type="number" name="fr_bd" placeholder="0" min="0">
                    </div>
                    <div id="omr_bd" class="abs money"
                        style="left: calc(var(--scale) *965px);top: calc(var(--scale) *1009px);width: calc(var(--scale) *144px);height: calc(var(--scale) *23px);">
                        <input type="number" name="omr_bd" placeholder="0" min="0">
                    </div>

                    <div id="account_number" class="abs"
                        style="left: calc(var(--scale) *429px);top: calc(var(--scale) *1129px);width: calc(var(--scale) *677px);height: calc(var(--scale) *21px);">
                        <input type="text" name="account_number" required>
                    </div>
                    <div id="bank_name" class="abs"
                        style="left: calc(var(--scale) *429px);top: calc(var(--scale) *1152px);width: calc(var(--scale) *288px);height: calc(var(--scale) *21px);">
                        <input type="text" name="bank_name" required>
                    </div>
                    <div id="bank_branch" class="abs"
                        style="left: calc(var(--scale) *893px);top: calc(var(--scale) *1152px);width: calc(var(--scale) *214px);height: calc(var(--scale) *21px);">
                        <input type="text" name="bank_branch" required>
                    </div>
                    <div id="account_holder" class="abs"
                        style="left: calc(var(--scale) *429px);top: calc(var(--scale) *1174px);width: calc(var(--scale) *677px);height: calc(var(--scale) *21px);">
                        <input type="text" name="account_holder" required>
                    </div>

                    <div id="ip_r" class="abs"
                        style="left: calc(var(--scale) *344px);top: calc(var(--scale) *1444px);width: calc(var(--scale) *16px);height: calc(var(--scale) *16px);">
                        <input type="checkbox" name="ip_r">
                    </div>
                    <div id="ip_pa" class="abs"
                        style="left: calc(var(--scale) *344px);top: calc(var(--scale) *1463px);width: calc(var(--scale) *16px);height: calc(var(--scale) *16px);">
                        <input type="checkbox" name="ip_pa">
                    </div>
                    <div id="ip_ds" class="abs"
                        style="left: calc(var(--scale) *344px);top: calc(var(--scale) *1483px);width: calc(var(--scale) *16px);height: calc(var(--scale) *16px);">
                        <input type="checkbox" name="ip_ds">
                    </div>
                    <div id="ip_pc" class="abs"
                        style="left: calc(var(--scale) *344px);top: calc(var(--scale) *1503px);width: calc(var(--scale) *16px);height: calc(var(--scale) *16px);">
                        <input type="checkbox" name="ip_pc">
                    </div>
                    <div id="ip_mc" class="abs"
                        style="left: calc(var(--scale) *344px);top: calc(var(--scale) *1523px);width: calc(var(--scale) *16px);height: calc(var(--scale) *16px);">
                        <input type="checkbox" name="ip_mc">
                    </div>
                    <div id="ip_ir" class="abs"
                        style="left: calc(var(--scale) *344px);top: calc(var(--scale) *1543px);width: calc(var(--scale) *16px);height: calc(var(--scale) *16px);">
                        <input type="checkbox" name="ip_ir">
                    </div>

                    <div id="op_r" class="abs"
                        style="left: calc(var(--scale) *885px);top: calc(var(--scale) *1444px);width: calc(var(--scale) *16px);height: calc(var(--scale) *16px);">
                        <input type="checkbox" name="op_r">
                    </div>
                    <div id="op_pa" class="abs"
                        style="left: calc(var(--scale) *885px);top: calc(var(--scale) *1463px);width: calc(var(--scale) *16px);height: calc(var(--scale) *16px);">
                        <input type="checkbox" name="op_pa">
                    </div>
                    <div id="op_pc" class="abs"
                        style="left: calc(var(--scale) *885px);top: calc(var(--scale) *1483px);width: calc(var(--scale) *16px);height: calc(var(--scale) *16px);">
                        <input type="checkbox" name="op_pc">
                    </div>
                    <div id="op_mc" class="abs"
                        style="left: calc(var(--scale) *885px);top: calc(var(--scale) *1503px);width: calc(var(--scale) *16px);height: calc(var(--scale) *16px);">
                        <input type="checkbox" name="op_mc">
                    </div>
                    <div id="op_ir" class="abs"
                        style="left: calc(var(--scale) *885px);top: calc(var(--scale) *1523px);width: calc(var(--scale) *16px);height: calc(var(--scale) *16px);">
                        <input type="checkbox" name="op_ir">
                    </div>

                    <div id="no_of_documents" class="abs"
                        style="left: calc(var(--scale) *462px);top: calc(var(--scale) *1566px);width: calc(var(--scale) *318px);height: calc(var(--scale) *22px);">
                        <input type="number" name="no_of_documents" min="1" value="1" required>
                    </div>

                    <!-- <div id="employer_sign" class="abs sign_field"
                        style="left: calc(var(--scale) *326px);top: calc(var(--scale) *1598px);width: calc(var(--scale) *178px);height: calc(var(--scale) *57px);">
                        <img src="" width="100%" class="sign_preview" id="employer_sign_preview">
                        <button type="button" onclick="openDialog(this)" data-preview="employer_sign_preview"
                            data-target="employer_sign_input" data-date="employer_sign_date"></button>
                        <input type="file" name="employer_sign" accept="image/png" id="employer_sign_input"
                            style="position: absolute; pointer-events: none;left: 0;z-index: -1;visibility: hidden;">
                        <input type="hidden" name="employer_sign_date" value="">
                    </div>
                    <div id="employer_sign_date" class="abs show-date"
                        style="left: calc(var(--scale)*132px);top: calc(var(--scale)*1634px);width: calc(var(--scale)*150px);height: calc(var(--scale)*15px);">
                        
                    </div> -->


                    <div id="employee_sign" class="abs sign_field"
                        style="left: calc(var(--scale) *850px);top: calc(var(--scale) *1598px);width: calc(var(--scale) *178px);height: calc(var(--scale) *57px);">
                        <img src="" width="100%" class="sign_preview" alt="Sign Preview" id="employee_sign_preview">
                        <button type="button" onclick="openDialog(this)" data-preview="employee_sign_preview"
                        data-target="employee_sign_input" data-date="employee_sign_date"></button>
                        <input type="file" name="employee_sign" id="employee_sign_input" accept="image/png" required
                        style="position: absolute; pointer-events: none;left: 0;z-index: -1;visibility: hidden;">
                        <input type="hidden" name="employee_sign_date" value="">
                    </div>
                    <div id="employee_sign_date" class="abs show-date"
                        style="left: calc(var(--scale)*683px);top: calc(var(--scale)*1634px);width: calc(var(--scale)*150px);height: calc(var(--scale)*15px);">
                        
                    </div>

                    <div id="attachments"></div>

                    <input type="submit" id="real_submit"
                        style="position: absolute; visibility: hidden; pointer-events: none;width: 0;height: 0;">
                </form>
            </section>
        </article>

        <section class="sattach">
            <div style="display: flex; justify-content: space-between;">
                <button type="button" id="attach-btn">Add Attachment</button>
                <button type="button" onclick="submit()">Submit Form</button>
            </div>
            <input type="file" id="attach-in" multiple onchange="addAttachments(this)" style="visibility: hidden; height: 0;"/>
            <ol id="attachmentList">
                
            </ol>
        </section>

        <section id="sign_overlay">
            <div id="sign_wrap">
                <h3>Signature</h3>
                <div>
                    <input type="radio" name="panel" id="upload-panel-switch" class="tab-switch" checked>
                    <input type="radio" name="panel" id="draw-panel-switch" class="tab-switch">
                    <div class="switch-labels">
                        <label for="upload-panel-switch" class="panel-switch">Upload</label>
                        <label for="draw-panel-switch" class="panel-switch">Draw</label>
                    </div>
                    <div class="panel-hold">
                        <div id="upload-panel">
                            <img src="" id="panel-preview" width="100%" alt="Preview" class="sign_preview">
                            <input type="file" id="upload-panel-input" accept="image/png">
                        </div>
                        <div id="draw-panel">
                            <canvas id="signature"></canvas>
                        </div>
                    </div>
                </div>
                <div class="controls">
                    <button type="button" onclick="closeDialog()">Close</button>
                    <button type="button" onclick="clearSignature()">Clear</button>
                    <button type="button" onclick="saveSignature()">Save</button>
                </div>
            </div>
        </section>
    </main>

    <script defer src="/overlay.js"></script>
    <script defer src="/canvas.js"></script>
    <script defer src="/attachments.js"></script>
</body>

</html>