<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }
        header {
            background-color: #333;
            color: #fff;
            padding: 20px 0;
            text-align: center;
        }
        nav {
            text-align: center;
            margin-top: 20px;
        }
        nav a {
            text-decoration: none;
            color: #333;
            padding: 10px 20px;
            margin: 0 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fff;
            transition: background-color 0.3s ease;
        }
        nav a:hover {
            background-color: #ccc;
        }
        main article{
            padding: 20px;
            text-align: center;
        }
        main form {
            padding: 10px 20px;
            margin: auto;
            max-width: min(580px, 90%);
            border: 1px solid rgb(160, 159, 159);
            background-color: #fff;
        }
        main form div {
            display: flex;
            flex-direction: column;
            row-gap: 5px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        main form input,
        main form select,
        main form button {
            padding: 4px 8px;
        }
        main form button {
            margin-top: 10px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <header>
        <h1>Welcome to Liva Insurance Claims</h1>
    </header>
    <!-- <nav>
        <a href="/clrc">Check list for Reimbursement Claims</a>
        <a href="/gmir">Group Medical Insurance Reimbursement Claim Form</a>
        <a href="contact.html">Contact</a>
    </nav> -->
    <main>
        <article>
            <h2>Welcome to Our Website!</h2>
            <p>Please fill the below form to continue</p>
        </article>
        <br>
        <form action="/" method="post">
            <div>
                <label for="email">Please enter your email</label>
                <input type="email" name="email" id="email" required>
            </div>
            <div>
                <label for="form_name">Claim Form</label>
                <select name="form_name" id="form_name">
                    <option value="clrc">Checklist for Reimbursement Claims (CLRC)</option>
                    <option value="gmir">Group Medical Insurance Reimbursement Claim Form (GMIRF)</option>
                </select>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </main>
</body>
</html>
